*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(112, 169, 222,0.8);
}
.container{
    width: 500px;
    height: 250px;
    box-shadow: 5px 12px rgba(112, 169, 222,0.9);
    
    position: relative;

}
.drop{
    position: absolute;
  height: 200px;
  width: 200px;
  background: #54abfb;
  border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
  opacity: 0.8;
  border: 2px solid #3d93ff;

}

.drop::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #318cfe;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #1b6cfb,-40px 60px 32px #1b6cfb,inset -6px 6px 10px #1b6cfb,inset 2px 6px 10px #1a74e5,
    inset 20px -20px 22px white,inset 40px -40px 44px #a8ceff;
}
.drop2{
    left:200px;
}