*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --custom-btn-width:20px;
    --custom-btn-height:20px;
    --custom-btn-border:3px;
}
body{
    background-color: aliceblue;
}
.container{
    width: 250px;
    height: auto;
    margin: auto auto;
    background-color: aqua;
}
input[type="radio"]{
    display: none;
}
span{
    padding-left: 25px ;

}
.btn{
    padding-bottom: 15px;
}
label{
    position: relative;
    padding-left: 20px;
    
}
label::before 
    {
    content: '';
    width: var(--custom-btn-width);
    height: var(--custom-btn-height);
    border-radius: 50%;
    position: absolute;
    margin-right: 10px;
    box-shadow: inset 0 0 0 1.5px wheat;
}
input[type="radio"]:checked + label::before {
    box-shadow: inset 0 0 0 5px rgb(58, 54, 46);
}
